@{
  Layout = "_Layout";
}

<h1>University Registrar</h1>
<h2>Course: @Model["selectedCourse"].GetName()</h2>
<a href='/courses/delete/@Model["selectedCourse"].GetId()'> Delete this course</a>
<hr />
@if (@Model["courseStudents"].Count != 0)
{
  <h4>This course has these students:</h4>
  <ul>
    @foreach (var student in @Model["courseStudents"])
    {
      <li><a href="/students/@student.GetId()">@student.GetName()</a></li>
    }
  </ul>
}

<h4>Add a student to this course:</h4>
<form action='/courses/add_student' method='post'>
  <input id='course-id' name='course-id' type='hidden' value='@Model["selectedCourse"].GetId()'>
  <label for='student-id'>Select a student</label>
  <select id='student-id' name='student-id' type='text'>
    @foreach (var student in @Model["allStudents"])
    {
      <option value='@student.GetId()'>@student.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<p><a href="/">Return to Main Page</a></p>
